$primary-light: #50afe4;
$primary-dark: #21578a;
$primary-darker: #184b7b;
$secondary: #ff7400;
$tertiary: #736cc7;
$black: #000000;
$white: #ffffff;
$white-2: #f6f6f6;
$gray-1: #1d1d1b;
$gray-2: #353535;
$gray-3: #4e4e4e;
$gray-4: #585858;
$gray-5: #6c6c6c;
$gray-6: #8c8c8c;
$gray-7: #9a9a9a;
$gray-8: #a3a3a3;
$gray-9: #aaaaaa;
$gray-10: #d4d4d4;
$gray-11: #dedede;
$gray-12: #b9b9b9;
$gray-13: #efefef;
