@charset "UTF-8";
body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "Raleway, Helvatica, Arial";
  font-size: 16px;
  color: #8a8a8a;
}

body header {
  font-size: 16px;
  background-color: #f9f9f9;
  height: 100px;
  border-bottom: solid 2px #ddd;
  margin: auto;
}

body header .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1024px;
  margin: auto;
}

body header .header-row .header-column:first-child {
  width: 25%;
  height: 100px;
  float: left;
}

body header .header-row .header-column:last-child {
  width: 75%;
  height: 100px;
  float: left;
}

body header .header-row .logo {
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body header .header-row nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
}

body header .header-row nav .navbar {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0;
}

body header .header-row nav .navbar li {
  float: right;
  margin-left: 25px;
  line-height: 30px;
}

body header .header-row nav .navbar li:hover {
  line-height: 25px;
}

body header .header-row nav .navbar li a {
  color: #8a8a8a;
  text-decoration: none;
}

body header .header-row nav .navbar li.active {
  background-color: #00a99d;
  border-radius: 5px;
  padding: 0 15px;
  pointer-events: none;
}

body header .header-row nav .navbar li.active a {
  color: #ffffff;
  cursor: default;
}

body header .header-row nav .search {
  float: right;
  margin-left: 30px;
  color: #00a99d;
}

body section {
  font-size: 16px;
  background-color: #f9f9f9;
  margin: auto;
  padding: 80px 0;
}

body section.small {
  padding: 20px 0;
}

body section.dark {
  background-color: #383838;
}

body section.primary {
  background-color: #00a99d;
}

body section .section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1024px;
  margin: 10px auto 0;
}

body section .section-row > .section-column {
  padding: 0 10px;
  margin: auto;
}

body section .section-row > .section-column.three {
  width: 25%;
}

body section .section-row > .section-column.four {
  width: 33.3%;
}

body section .section-row > .section-column.eight {
  width: 66.6%;
}

body section .section-row > .section-column.twelve {
  width: 100%;
}

body section .section-row > .section-column.title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

body section .section-row > .section-column.title > span {
  color: #00a99d;
}

body section .section-row > .section-column > hr {
  margin: 3px 0;
}

body section .section-row#offer {
  padding: 30px 0 !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bold;
}

body section .section-row#numbers {
  margin-top: 80px;
  text-align: center;
}

body section .section-row#numbers .title {
  font-size: 10pt;
  text-transform: uppercase;
}

body section .section-row#numbers .icon {
  color: #00dccc;
}

body section .section-row#numbers .icon:before, body section .section-row#numbers .icon:after {
  background-color: #484848;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

body section .section-row#numbers .icon:before {
  right: 0.5em;
  margin-left: -50%;
}

body section .section-row#numbers .icon:after {
  left: 0.5em;
  margin-right: -50%;
}

body section .section-row#numbers .number {
  font-size: 32pt;
  color: white;
}

body section .section-row#numbers .number:before, body section .section-row#numbers .number:after {
  color: #8a8a8a;
  content: "🔹";
  font-size: 16pt;
  display: inline-block;
  height: 40px;
  position: relative;
  vertical-align: middle;
}

body section .section-row#numbers .number:before {
  right: 0.5em;
  margin-left: -50%;
}

body section .section-row#numbers .number:after {
  left: 0.5em;
  margin-right: -50%;
}

body section .section-row#features {
  margin-top: 80px;
  text-align: center;
}

body section .section-row#features .ball {
  height: 32px;
  width: 32px;
  padding: 30px;
  border-radius: 50%;
  margin-bottom: 25px;
  display: inline-block;
}

body section .section-row#features .ball.dark {
  background-color: #383838;
}

body section .section-row#features .ball.light {
  background-color: #00a99d;
}

body section .section-row#features .ball > img {
  height: 32px;
  width: 32px;
}

body section .section-row#features .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #606060;
}

body section .section-row#features p {
  font-size: 14px;
}

body section.map {
  height: 300px;
  background-image: url("../img/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body section.map #contact-form {
  width: 380px;
  background: white;
  float: left;
  margin: 0;
  border-radius: 5px;
  padding: 10px;
}

body section.map #contact-form > input,
body section.map #contact-form textarea,
body section.map #contact-form button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: solid thin #d7d7d7;
  margin-bottom: 10px;
}

body section.map #contact-form > input::-webkit-input-placeholder,
body section.map #contact-form textarea::-webkit-input-placeholder,
body section.map #contact-form button::-webkit-input-placeholder {
  color: #a4a4a4;
}

body section.map #contact-form > input:-ms-input-placeholder,
body section.map #contact-form textarea:-ms-input-placeholder,
body section.map #contact-form button:-ms-input-placeholder {
  color: #a4a4a4;
}

body section.map #contact-form > input::-ms-input-placeholder,
body section.map #contact-form textarea::-ms-input-placeholder,
body section.map #contact-form button::-ms-input-placeholder {
  color: #a4a4a4;
}

body section.map #contact-form > input::placeholder,
body section.map #contact-form textarea::placeholder,
body section.map #contact-form button::placeholder {
  color: #a4a4a4;
}

body section.map #contact-form > input,
body section.map #contact-form textarea {
  color: #8a8a8a;
  font-style: italic;
}

footer {
  position: relative;
  text-align: center;
  color: #ddd;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  background-color: #383838;
  padding: 60px 0 20px;
}

footer > #up {
  cursor: pointer;
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2em;
  background: #00a99d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 48px;
  width: 48px;
  line-height: 48px;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  background: #f9f9f9;
  color: #8a8a8a;
  border: solid thin #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  border-radius: 3px;
  cursor: pointer;
}

button.primary {
  color: white;
  background: #00a99d;
  border-color: #00a498;
}

button.noborder {
  border: none;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}
/*# sourceMappingURL=main.css.map */