$base-color: #fbad27;
$seco-color: #757575;
$text-color: #4a4a4a;

* {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 24pt;
}

p {
    font-size: 10pt;
    color: $seco-color;
}

section {
    padding: 100px 0;

    &.small {
        max-width: 960px;
        margin: auto;
    }

    & .carousel {
        padding: 100px 0 50px 0;

        &>.item {
            padding: 40px 30px;
            color: $seco-color !important;
            font-size: 10pt;

            &.active {
                -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
            }

            &>.icon {
                font-size: 28pt;
                color: $base-color;
            }

            &>.title {
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

    & .search {
        font-size: 12pt;
        margin-top: 40px;
        border: none;
        width: 80px;
    }

    & .gallery {
        &>.item {
            position: relative;
            overflow: hidden;
            max-height: 250px;
            margin-top: 30px;

            &>.title {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 15px auto;
                color: white;
                font-size: 14pt;
                font-weight: bold;
                text-align: center;
                text-shadow: #000000aa 2px 2px 8px;
            }

            &>img {
                display: block;
                margin: auto;

                height: auto;
                max-height: 100%;

                width: auto;
                max-width: 100%;
            }
        }
    }

    & .pagination {
        &>ul {
            list-style: none;
            width: fit-content;
            margin: auto;

            &>li {
                position: relative;
                float: left;
                line-height: 12px;
                background: $seco-color;
                height: 12px;
                width: 12px;
                border-radius: 50%;

                &.active {
                    background: $base-color;
                    height: 20px;
                    width: 20px;

                    &::before {
                        margin: 2px auto;
                        height: 12px;
                        width: 12px;
                        left: 0;
                        right: 0;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    margin: 1px;
                    border: solid 2px #fff;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    left: 0;
                    right: 0;
                }
            }

            &>li:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

header {
    position: relative;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;

    height: 600px;

    & .navbar {
        font-size: 10pt;
        padding: 20px 0;
        color: white;
        border-bottom: solid thin #fff;

        & .menu {
            list-style: none;

            &>li {
                float: left;
                margin: 0 10px 0 0;
                padding: 5px 8px;

                &>a {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        & .phone {
            color: #fff;
            line-height: 31px;
            text-align: right;

            &::before {
                color: #fff;
                content: "📞";
                margin-right: 5px;
                font-size: 12pt;
            }

            &>b {
                color: #fff;
            }
        }
    }

    & .title {
        text-align: center;
        padding: 50px 0 0 0;
        font-size: 38pt;
        font-weight: bold;
        color: #fff;
    }

    & .sub-title {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        color: #fff;
    }

    & .watch-intro {
        line-height: 1em;
        position: absolute;
        left: 100px;
        bottom: 40px;
        color: #fff;

        &>span {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }

        &:before {
            position: absolute;
            left: -48px;
            top: -8px;
            content: "▶";
            text-align: center;
            font-size: 18pt;
            border: solid 3px #fff;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            padding: 2px 0 2px 4px;
            line-height: 29px;
        }
    }
}

section#action {
    background-color: $base-color;
    padding: 50px 0;

    & .title {
        color: #fff;
        font-size: 22pt;
        text-align: center;
        padding: 16px 0;
    }
}

footer {
    font-family: 'Roboto Medium', sans-serif;
    color: $text-color;
    margin-top: 180px;
    font-size: 10pt;

    & a {
        text-decoration: none;
        color: $text-color;
    }

    & ul {
        list-style: none;

        li {

            margin: 0;
        }

        &.share {
            display: inline-block;

            li {
                float: left;

                &>a {
                    display: block;
                    background-color: $seco-color;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    margin-right: 5px;
                    border-radius: 50%;
                    color: #fff;

                    &.active {
                        background-color: $base-color;
                    }

                }
            }
        }
    }

    & .title {
        font-family: 'Roboto';
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 10px;
    }

    & .copy {
        text-align: center;
        padding: 40px 0 70px 0;
        border-top: solid thin #ddd;
        font-size: 8pt;
    }
}


button {
    background-color: $base-color;
    border-radius: 20px;
    padding: 5px 50px;
    color: white;
    border: none;
    line-height: initial;
    margin: 20px auto;

    &.border {
        border: solid 2px #fff;
    }
}

.center {
    text-align: center;
}

.mobile-menu {
    display: none;
}

@media (max-width: 550px) {
    .container {
        text-align: center;
    }

    .columns {
        margin-bottom: 20px;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        width: 100%;
        display: block;
    }

    .navbar {
        padding-bottom: 0 !important;
    }

    section .carousel {
        padding: 0;
    }

    footer {
        margin-top: 50px;
    }

    pre,
    blockquote,
    dl,
    figure,
    table,
    p,
    ul,
    ol,
    form {
        margin-bottom: 0;
    }
}
