@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 24pt;
}

p {
  font-size: 10pt;
  color: #757575;
}

section {
  padding: 100px 0;
}

section.small {
  max-width: 960px;
  margin: auto;
}

section .carousel {
  padding: 100px 0 50px 0;
}

section .carousel > .item {
  padding: 40px 30px;
  color: #757575 !important;
  font-size: 10pt;
}

section .carousel > .item.active {
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}

section .carousel > .item > .icon {
  font-size: 28pt;
  color: #fbad27;
}

section .carousel > .item > .title {
  font-weight: bold;
  margin-bottom: 10px;
}

section .search {
  font-size: 12pt;
  margin-top: 40px;
  border: none;
  width: 80px;
}

section .gallery > .item {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  margin-top: 30px;
}

section .gallery > .item > .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 15px auto;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  text-shadow: #000000aa 2px 2px 8px;
}

section .gallery > .item > img {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

section .pagination > ul {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

section .pagination > ul > li {
  position: relative;
  float: left;
  line-height: 12px;
  background: #757575;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

section .pagination > ul > li.active {
  background: #fbad27;
  height: 20px;
  width: 20px;
}

section .pagination > ul > li.active::before {
  margin: 2px auto;
  height: 12px;
  width: 12px;
  left: 0;
  right: 0;
}

section .pagination > ul > li::before {
  content: "";
  position: absolute;
  margin: 1px;
  border: solid 2px #fff;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  left: 0;
  right: 0;
}

section .pagination > ul > li:not(:first-child) {
  margin-left: 10px;
}

header {
  position: relative;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 600px;
}

header .navbar {
  font-size: 10pt;
  padding: 20px 0;
  color: white;
  border-bottom: solid thin #fff;
}

header .navbar .menu {
  list-style: none;
}

header .navbar .menu > li {
  float: left;
  margin: 0 10px 0 0;
  padding: 5px 8px;
}

header .navbar .menu > li > a {
  color: white;
  text-decoration: none;
}

header .navbar .phone {
  color: #fff;
  line-height: 31px;
  text-align: right;
}

header .navbar .phone::before {
  color: #fff;
  content: "📞";
  margin-right: 5px;
  font-size: 12pt;
}

header .navbar .phone > b {
  color: #fff;
}

header .title {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 38pt;
  font-weight: bold;
  color: #fff;
}

header .sub-title {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  color: #fff;
}

header .watch-intro {
  line-height: 1em;
  position: absolute;
  left: 100px;
  bottom: 40px;
  color: #fff;
}

header .watch-intro > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

header .watch-intro:before {
  position: absolute;
  left: -48px;
  top: -8px;
  content: "▶";
  text-align: center;
  font-size: 18pt;
  border: solid 3px #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 2px 0 2px 4px;
  line-height: 29px;
}

section#action {
  background-color: #fbad27;
  padding: 50px 0;
}

section#action .title {
  color: #fff;
  font-size: 22pt;
  text-align: center;
  padding: 16px 0;
}

footer {
  font-family: 'Roboto Medium', sans-serif;
  color: #4a4a4a;
  margin-top: 180px;
  font-size: 10pt;
}

footer a {
  text-decoration: none;
  color: #4a4a4a;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 0;
}

footer ul.share {
  display: inline-block;
}

footer ul.share li {
  float: left;
}

footer ul.share li > a {
  display: block;
  background-color: #757575;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
}

footer ul.share li > a.active {
  background-color: #fbad27;
}

footer .title {
  font-family: 'Roboto';
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 10px;
}

footer .copy {
  text-align: center;
  padding: 40px 0 70px 0;
  border-top: solid thin #ddd;
  font-size: 8pt;
}

button {
  background-color: #fbad27;
  border-radius: 20px;
  padding: 5px 50px;
  color: white;
  border: none;
  line-height: initial;
  margin: 20px auto;
}

button.border {
  border: solid 2px #fff;
}

.center {
  text-align: center;
}

.mobile-menu {
  display: none;
}

@media (max-width: 550px) {
  .container {
    text-align: center;
  }
  .columns {
    margin-bottom: 20px;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    width: 100%;
    display: block;
  }
  .navbar {
    padding-bottom: 0 !important;
  }
  section .carousel {
    padding: 0;
  }
  footer {
    margin-top: 50px;
  }
  pre,
  blockquote,
  dl,
  figure,
  table,
  p,
  ul,
  ol,
  form {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */